# Environment
ENV=local

# Azure (cloud only)
AZURE_STORAGE_ACCOUNT_NAME=bankingpipelinesa
AZURE_STORAGE_ACCOUNT_KEY=<your-key>
AZURE_TENANT_ID=<your-tenant-id>
AZURE_CLIENT_ID=<your-client-id>
AZURE_CLIENT_SECRET=<your-client-secret>

# Databricks (cloud only)
DATABRICKS_HOST=https://<workspace>.azuredatabricks.net
DATABRICKS_TOKEN=<your-token>
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/<id>
DATABRICKS_CLUSTER_ID=<your-cluster-id>

# Simulation
SIMULATOR_BATCH_SIZE=50
SIMULATOR_DELAY_SECS=5.0
SIMULATOR_MAX_BATCHES=

# Spark
SPARK_MASTER=local[*]
SPARK_LOG_LEVEL=WARN

# dbt
DBT_TARGET=dev

# Logging
LOG_LEVEL=INFO